@import "tailwindcss";

body {
  font-family: "Poppins";
}
.form-input {
  @apply flex flex-col;
}
.form-input label {
  @apply mt-2 mb-1;
}
input[type="text"],
textarea {
  @apply p-2 rounded w-full outline-none border border-gray-400 focus:border-blue-600;
}

.btn-primary {
  @apply px-4 py-2 bg-blue-500 rounded text-white font-medium;
}

.center {
  @apply flex justify-center items-center;
}

button {
  @apply cursor-pointer;
}
